{% extends 'base.html' %}

{% block title %}Medecin{% endblock title %}

{% block content %}
<h1 class="text-center"></h1>

<div id="content" name="content" class="main">
	<div class="row justify-content-center">
		<div class="col-8">
			<h1 class="mt-2">Medecin</h1>
			<hr class="mt-0 mb-4">
		</div>
	</div>
</div>

<section id="appointement">
	<div class="container">
		<div class="formulaire">
			<h3>Entrez vos informations docteur</h3>
			<form action="{% url 'medecin' %}" method="post">
				{% csrf_token %}
			{{form.as_p}}
			<br>
				<button type="submit">Envoyer</button>
			</form>
		</div>
		<div class="formulaire-image">
			<img style="border-radius: 15px; height:450px; width: 450px; margin-left:30px" src="https://img.freepik.com/free-vector/doctor-character-background_1270-84.jpg?size=338&ext=jpg&ga=GA1.1.1222169770.1702166400&semt=ais" alt="">
		 </div>
	 </div>
</section>
{% endblock content %}
