<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="UTF-8">
        <title>Patient</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/style.css">
      
    </head>
<body>
   
<div id="homme">
    <br><br>
     <div class="banner">
       <div>
           <img src="https://i.pinimg.com/564x/54/86/81/548681c7ee2be9d99e14e797f76cca32.jpg">
       </div>
       <div>
    <h6>Bienvenue</h6>
    <h3>Des Professionels de <br> la sante a votre service</h3>
    <p>La consultation à distance n'a jamais été aussi simple</p>
  
      </div>
    </div>
</div>

<section id="patient">
        <div class="container">
            <div class="formulaire">
                <h3>Prendre un render-vous</h3>
              <form action="{% url 'patient' %}" method="post">
                {% csrf_token %}
                {{form.as_p }}
                <br>
                  <button type="submit">Envoyer</button>
              </form>
            </div>
            <div class="formulaire-image">
                <img style="border-radius: 15px;" src="https://i.pinimg.com/564x/b3/f3/73/b3f3731754d2d12420c6f15b6b53da55.jpg" alt="">
             </div>
         </div>
  </section>
</body>
</html>
